@media (max-width: 767.98px) {
    .navbar-brand img {
        width: 43px !important;
    }

    .netflix-dropdown-box {
        display: block;
    }
    .netflix-nav {
        display: none;
    }

    .netflix-navbar {
        padding: 0%;
    }

    i {
        font-size: 12px;
        cursor: pointer;
        padding: 5px !important;
    }

    .netflix-profile {
        margin-left: 5px !important;
    }

    .netflix-home-video .content .left {
        margin-left: 25px;   
    }
    
    .netflix-home-video .content .left img{
        margin-top: 70px;  
        width: 200px; 
    }

    button {
        font-size: 10px !important;
        width: max-content;
        opacity: 0.8;
    }

    .card {
        width: 350px;
    }

    .card-icon {
        font-size: 17px !important;
    }

    .slider1 {
        top: 250px;
        margin-left: 0px;
    }

    .card-body {
        top: 80px;
    }
}